/deep/ {
  body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
  }

  p {
  font-size: 20px;
  }
  p.small {
    font-size: 16px;
  }
  a,
  a:hover,
  a:focus,
  a:active,
  a.active {
    color: #18BC9C;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
  }
  hr.star-light,
  hr.star-primary {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
  }
  hr.star-light:after,
  hr.star-primary:after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 2em;
    padding: 0 0.25em;
  }
  hr.star-light {
    border-color: white;
  }
  hr.star-light:after {
    background-color: #18BC9C;
    color: white;
  }
  hr.star-primary {
    border-color: #2C3E50;
  }
  hr.star-primary:after {
    background-color: white;
    color: #2C3E50;
  }

  section {
    padding: 100px 0;
  }
  section h2 {
    margin: 0;
    font-size: 3em;
  }
  section.success {
    background: #18BC9C;
    color: white;
  }
  @media (max-width: 767px) {
    section {
      padding: 75px 0;
    }
    section.first {
      padding-top: 75px;
    }
  }

  .btn-outline {
    color: white;
    font-size: 20px;
    border: solid 2px white;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
  }
  .btn-outline:hover,
  .btn-outline:focus,
  .btn-outline:active,
  .btn-outline.active {
    color: #18BC9C;
    background: white;
    border: solid 2px white;
  }
  .btn-primary {
    color: white;
    background-color: #2C3E50;
    border-color: #2C3E50;
    font-weight: 700;
  }
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-primary.active,
  .open .dropdown-toggle.btn-primary {
    color: white;
    background-color: #1a242f;
    border-color: #161f29;
  }
  .btn-primary:active,
  .btn-primary.active,
  .open .dropdown-toggle.btn-primary {
    background-image: none;
  }
  .btn-primary.disabled,
  .btn-primary[disabled],
  fieldset[disabled] .btn-primary,
  .btn-primary.disabled:hover,
  .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary:hover,
  .btn-primary.disabled:focus,
  .btn-primary[disabled]:focus,
  fieldset[disabled] .btn-primary:focus,
  .btn-primary.disabled:active,
  .btn-primary[disabled]:active,
  fieldset[disabled] .btn-primary:active,
  .btn-primary.disabled.active,
  .btn-primary[disabled].active,
  fieldset[disabled] .btn-primary.active {
    background-color: #2C3E50;
    border-color: #2C3E50;
  }
  .btn-primary .badge {
    color: #2C3E50;
    background-color: white;
  }
  .btn-success {
    color: white;
    background-color: #18BC9C;
    border-color: #18BC9C;
    font-weight: 700;
  }
  .btn-success:hover,
  .btn-success:focus,
  .btn-success:active,
  .btn-success.active,
  .open .dropdown-toggle.btn-success {
    color: white;
    background-color: #128f76;
    border-color: #11866f;
  }
  .btn-success:active,
  .btn-success.active,
  .open .dropdown-toggle.btn-success {
    background-image: none;
  }
  .btn-success.disabled,
  .btn-success[disabled],
  fieldset[disabled] .btn-success,
  .btn-success.disabled:hover,
  .btn-success[disabled]:hover,
  fieldset[disabled] .btn-success:hover,
  .btn-success.disabled:focus,
  .btn-success[disabled]:focus,
  fieldset[disabled] .btn-success:focus,
  .btn-success.disabled:active,
  .btn-success[disabled]:active,
  fieldset[disabled] .btn-success:active,
  .btn-success.disabled.active,
  .btn-success[disabled].active,
  fieldset[disabled] .btn-success.active {
    background-color: #18BC9C;
    border-color: #18BC9C;
  }
  .btn-success .badge {
    color: #18BC9C;
    background-color: white;
  }
  .btn-social {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
  }
}
