<body>
<div class="container">

  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus name="username" [(ngModel)]="credentials.username" #username>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password" [(ngModel)]="credentials.password" #password>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger font-weight-bold" role="alert">
      {{errorMessage}}
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()">Sign in</button>
  </form>

</div> <!-- /container -->
</body>
