<div class="landing text-center">
    <h5>Directing your local public servants to trash that needs pickup!</h5>
    <p>
        Have you found an area with a large buildup of uncollected trash?  Use this app to mark the location, upload photographs of the trash, and tweet a reminder to your local authorities to come pick it up.
    </p>
    <div class="login-subscribe">
        <button class="btn btn-outline-success my-2 my-sm-0">Login</button>
        <button class="btn btn-outline-success my-2 my-sm-0">Subscribe</button>
    </div>
    <a class="alert-link" href="#">Terms and Conditions</a>
    <h4>Sponsored By</h4>
    <a href="http://www.spry-group.com"><img class="logo-img" [src]="spryGroupLogo"></a>
</div>
