@import "~bootstrap/scss/bootstrap";
@import '../../styles/landing';

body { 
    padding-top: 65px; 
}

.home {
    float: left;
    background-color: white;
    font-family: sans-serif;

    .home-text {
        width: 75%;
        margin: auto;
    }
}

.login-subscribe {
    margin-bottom: 10px;
}
