@import "~bootstrap/scss/bootstrap";

.trlogo {
    width: 45%;
}

.home {
    float: left;
    background-color: white;
    font-family: sans-serif;

    .home-text {
        width: 75%;
        margin: auto;
    }
}

.login-subscribe {
    margin-bottom: 10px;
}
