/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import './styles/landing';

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Montserrat:400,700');
